<%= form_with url: "/palindromes/result", data: { behavior: "autosave" } do |form| %>
  <%= number_field_tag :number, class: 'form-control', id: 'number' %> <br/>
  <%= submit_tag("Найти", id: 'btn') %>
	<% end %>
  </table>

<div id="result"></div>
